<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ee.dao.test.UserDao">
    <insert id="insert" parameterType="ee.bean.User">
        INSERT INTO user (name, age) VALUES
        (#{name, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER})
    </insert>
</mapper>